{% extends "accounts/base.html" %}

{% block content %}
  <h1>Change Password</h1>
  <p>Your administrator requires you to choose a new password before continuing.</p>
  <p>Enter and confirm a new password that satisfies RidgeNote's password requirements. After a successful change, you will continue into RidgeNote.</p>
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
      {% include "accounts/_form_field.html" %}
    {% endfor %}
    <button type="submit">Change Password</button>
  </form>
{% endblock %}
